html {
    font-family: 'Roboto';
    max-width: 1200px;
}

h1 {
    font-weight: bold;
    color: #FFF;
    background-color: rgba(10, 0, 68, 0.9);
    padding: 10px 4px 10px 20px;
    margin: 10px;
    vertical-align: left;
    max-width: 1200px;
    font-size: 40px;
}
h2 {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 5px;
}
h3 {
    font-family: Nunito, sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-top: 1px;
    text-decoration: underline;
}

section {
    border: 2px solid rgba(10, 0, 68, 0.9);
    padding: 0px 10px 10px 10px;
    margin: 10px;
    max-width: 1200px;
}

nav {
    background-color: #22798f9f;
    border: 3px solid black;
    position: fixed;
    float: right;
    top: 10px;
    left: 1190px;
    list-style-type: none;
}

nav ul {
    padding: 0px 20px; 
    font-size: 18px;
    color: #fff;
}

nav li, nav li a {
    text-decoration: none;
    list-style-type: none;
}
nav li a {
    cursor: pointer;
}

nav li a:link {
    color: #FFF;
}
nav li a:visited {
    color: #26003b;
}
nav li a:hover {
    color: #DB608C;
    transition: color 0.2s ease-in;
}
nav li a:active {
    color: red;
}


#color-guide {
    background-color: rgba(128, 128, 128, 0.3);
}
#font-guide {
    background-color: #dbcd357c;
}
#element-guide {
    background-color: #4abedb83;
}
#layout-guide {
    background-color: #db608b9a;
}

.color-block {
    display: inline-block;
    position: relative;
    width: 350px;
    height: 150px;
    text-align: center;
    vertical-align: top;
    border: 3px solid black;
}
.font-block {
    display: inline-block;
    position: relative;
    width: 500px;
    text-align: left;
    vertical-align: top;
    padding-top: 0px;
}
.element-block {
    display: inline-block;
    position: relative;
    width: 250px;
    margin: 10px;
    vertical-align: top;
}
.element-title {
    margin-top: 0px;
    margin-bottom: 5px;
}
.layout-block {
    display: inline-block;
    position: relative;
    width: 320px;
    margin: 10px;
    vertical-align: top;
}

div {
    margin: 5px;
}

p, .p-style li {
    font-family: Lora, serif;
    font-size: 17px;
}

.rgb-values {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 19px;
}

#cerulean {
    background-color: #4abfdb;
}

#deep-aqua {
    background-color: #22798F;
}
#deep-aqua p, #deep-aqua h3 {
    color: #FFF;
}

#coral {
    background-color: #DB608C;
}

#sunflower-gold {
    background-color: #DBCD35;
}

#weathered-bronze {
    background-color: #8F8629;
}

.ital {
    font-style: italic;
    font-size: inherit;
    font-weight: inherit;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
.lora {
    font-family: 'Lora', serif;
}

.font-100 {
    font-weight: 100;
}
.font-300 {
    font-weight: 300;
}
.font-500 {
    font-weight: 500;
}
.font-700 {
    font-weight: 700;
}
.font-900 {
    font-weight: 900;
}
